<div class="w-1/2 mx-auto">
  <h1 class='text-center font-bold text-5xl pb-8'>Log in</h1>

  <%= render "devise/shared/links" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w-full my-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'block shadow rounded-md w-full' %>
    </div>

    <div class="w-full my-5">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'block shadow rounded-md w-full' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="w-full my-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'bg-green-600 w-full text-white rounded-lg px-5 py-2 font-medium cursor-pointer'  %>
    </div>
  <% end %>

</div>
